@use "src/styles/vars";
@import "src/fonts/fonts.scss";

#home--section3 {
  margin-top: 13rem;
  margin-bottom: 13rem;
  
  h1 {
    font-family: vars.$fontHeadersMontserrat;
    // font-family: vars.$fontHeadersTiempos;
  }
}

.carrousel {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  align-items: baseline;
}

.ui.blue.button a {
  color: white;
}

@media (max-width: 1000px) {
  .carrousel {
    display: none;
}
}
