@use "src/styles/vars";

.Team--Area {
  margin : 5rem;
  padding: 5rem;
}

.Team--Title {
  margin-top: 12%;
  margin-bottom: 5%;

  h1 {
    font-family: vars.$fontHeadersTiempos;
  }
}



.Team--Info-flex {
  display: flex;
  // height: 20rem;
  justify-content: space-evenly;
  text-align: center;
  align-items: baseline;
  // padding: 3rem;
  margin-bottom: 18%;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 6px;
  // box-shadow:
  //    0 0px 30px rgba(0, 0, 0, 0.086);
}











// .Team--Info {
//   // margin-left: 38rem;
//   padding-top: 0.1%;
//   margin-bottom: 3%;

// }


// .Team--Info-flex-2 {
//   margin: 3rem auto;
// }