@use "src/styles/vars";
@import "src/fonts/fonts.scss";

#home--section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  padding: 2rem 0;
  margin: 7rem 0;
}

.section1--flex_left {
  width: 45%;
  margin-right: 4rem;
  // text-shadow: 0px 8px 20px rgba(119, 119, 119, 0.2);

  h1 {
    font-family: "Montserrat", sans-serif;
    // font-family: "TiemposHeadline-Semibold", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
  }

  p {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3rem;
  }
}

.section1--flex_right {
  width: 50%;

  img {
    border-radius: 2rem;
    // box-shadow: 0px 8px 20px rgba(119, 119, 119, 0.2);
    // transition: all 0.2s;

    // &:hover {
    //   transform: scale(1.02);
    //   box-shadow: 0px 8px 20px rgba(119, 119, 119, 0.3);
    // }
  }
}
