@use "src/styles/vars";

.edit-icon{
  cursor: pointer;

}
#left--side{
  display: flex;
  
}
.content--welcome--left{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
#profile--section1 {
  margin: 6rem 0;
  
  h1 {
  font-family: vars.$fontHeadersMontserrat;
}

  .profile--flex {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
    align-items: center;
    text-align: left;
    

    .shadow {
      box-shadow: 0px 8px 20px rgba(119, 119, 119, 0.4);
    }

    li {
      box-shadow: 0px 4px 10px rgba(119, 119, 119, 0.3);
    }
  }

  .profile--tag {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    // background-color: vars.$colorPrimary;

    li {
      background-color: vars.$colorPrimary;
      border-radius: 10px;
      color: vars.$colorBackground;
      font-size: 1.1rem;
      font-weight: 800;
      // border: solid 1px vars.$colorPrimary;
      // text-shadow: 0px 15px 20px rgba(119, 119, 119, 0.4);
    }
  }
}

#profile--section2 {
  .profile--section2-groupBlock {
    // background-color: rgb(223, 223, 223);
    // border: 2px solid black;
    border-radius: 10px;
    margin: 2rem 5rem;
    padding: 3rem;
    box-shadow: 0px 8px 20px rgba(160, 160, 160, 0.3);
  }

  
}

.section2and3--flexbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  
  h1 {
    margin-top: 3rem;
    font-family: vars.$fontHeadersMontserrat;
    font-weight: 600;
  }
}

#profile--section3 {
   h1 {
    margin-top: 3rem;
  }
}
.edit-form {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  padding: 37px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 13px;
}

.cancel-edit-profile{
  color: red;
}
