// ---------- FONTS ----------

$fontHeadersTiempos: "TiemposHeadline-Semibold", sans-serif;
$fontHeadersMontserrat: "Montserrat", sans-serif;
$fontParagraph: "Open Sans", sans-serif;

$fontWeightHeaders: 600;
$fontWeightParagraphs: 400;






// ---------- COLORS ----------

$colorSecondary: #181e4c;
$colorBackground: #ffffff;

// BLUE THEME
// $colorPrimary: #0d8fdb;
$colorPrimary: #2185d0;
$colorPrimaryHover: #1ca3e7;
// $colorPrimary: rgb(23, 98, 185);
// $colorPrimaryHover: #1ca3e7;

// ORANGE THEME
// $colorPrimary: #db940d;
// $colorPrimaryHover: #e7a01c;

// CYAN THEME
// $colorPrimary: #00cec9;
// $colorPrimaryHover: #81ecec;

