// @use "reset";
@use "vars";

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0 20rem;
  
}

html {
  font-size: 62.5%;
  background-color: vars.$colorBackground;
  // border: 1px solid black;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: vars.$colorSecondary;
  font-size: 1.6rem;
}

p {
  color: vars.$colorSecondary;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: vars.$colorSecondary;
}

img {
  max-width: 100%;
}
