@use 'src/styles/vars';

#home--section3 {
  margin-top: 8rem;
  margin-bottom: 5rem;
  
}

.carrousel {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  align-items: baseline;
}
.ui.blue.button a{
  color: white;
}