@use "src/styles/vars";
@import "src/fonts/fonts.scss";

#home--section3 {
  margin-top: 9rem;
  margin-bottom: 6rem;
  
  h1 {
    font-family: vars.$fontHeadersMontserrat;
    // font-family: vars.$fontHeadersTiempos;
  }
}

.carrousel {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  align-items: baseline;
}

.ui.blue.button a {
  color: white;
}
