@use "src/styles/vars";

.teamCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 2.5rem 1.5rem;
  border-radius: 0.7rem;
  // border: 1px solid rgba(128, 128, 128, 0.5);
  // box-shadow: 0 0px 30px rgba(0, 0, 0, 0.086);
  max-width: 15%;

  h2 {
    margin: 1rem 0 0.5rem 0;
    text-align: center;
    font-family: vars.$fontHeadersTiempos;
  }
  p {
    margin: none;
    padding: none;
    font-family: vars.$fontParagraph;
  }
  
  .shadow {
     box-shadow: 0px 8px 20px rgba(119, 119, 119, 0.2);
  }
}
