@use "src/styles/vars";

.title--countries {
  display: flex;
  // padding-top: 3%;
  animation: myAnim 1s ease 0s 1 normal forwards;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  h1 {
    font-family: vars.$fontHeadersTiempos;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: baseline;
  grid-row-gap: 4rem;
  grid-column-gap: 2%;
  margin-bottom: 5rem;
}

.countries--loader {
  margin: 20rem 0 40rem 0;

}

@media (max-width: 1355px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}