
#header--nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 11px;
}

.nav--list{
    display: flex;
    padding: 10px;
  
}


ul{
    display: flex;
    list-style-type: none;
   
}
ul li {
    padding: 10px;
    align-items: center;
    font-size: 18px;
}

.ui.button, .ui.buttons .button{
    font-size: 15px;
   
}
//animation


.animation--underline {
    display: inline;
    position: relative;
    text-decoration: none;
   
}

 .animation--underline:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -4px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: RGB(65, 131, 196);
}


  .animation--underline:hover:after {
    width: 100%;
  }