@use "src/styles/vars";
@import "src/fonts/fonts.scss";

.header--nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 11px;

  //  font-family: vars.$fontHeadersMontserrat;

  h1 {
    // font-family: vars.$fontHeadersTiempos;
    font-family: vars.$fontHeadersMontserrat;
    // color: vars.$colorSecondary;
    color: #202969;
    transition: all 0.4s;
    // color:RGB(65, 131, 196);
    &:hover {
      color: rgb(49, 126, 214);
    }
  }
}




.nav--list {
  // font-family: vars.$fontHeadersMontserrat;
  color: vars.$colorSecondary;
  transition: all 0.2s;
  &:hover {
    color: #246fb9;
  }
}

.nav--list {
  display: flex;
  padding: 10px;
}

.log--flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;

  &:hover {
  }
}

.darkblue {
  color: rgb(23, 98, 185);
  transition: all 0.4s;

  &:hover {
    // color: rgb(49, 126, 214);
    color: vars.$colorPrimary;
  }
}

.lightblue {
 color: #2185d0;
 transition: all 0.2s;
 &:hover {
  color: #1b6faf;
 }
}



.greyDisconnect {
  // color: rgb(102, 99, 122);
  color: #8d98a0;
  transition: all 0.2s;

  &:hover {
    color: #4a4f54;
  }
}

.heavy {
  font-weight: 500;
}
// .medium {
//   max-width: 50px;
//   color:rgb(23, 98, 185);
// }

.blue {
  color: vars.$colorPrimary;
  transition: all 0.4s;

  &:hover {
    color: vars.$colorPrimaryHover;
  }
}

.ui.tiny.image {
  width: 60px;
}

ul {
  display: flex;
  list-style-type: none;

  li {
    padding: 10px;
    align-items: center;
    font-size: 18px;
  }
}

.ui.button,
.ui.buttons .button {
  font-size: 15px;
}

.header--navMobile {
  display: none;
}

@media (max-width: 1355px) {
}

@media (max-width: 1000px) {
  .header--navMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 11px;

    //  font-family: vars.$fontHeadersMontserrat;

    h1 {
      // font-family: vars.$fontHeadersTiempos;
      font-family: vars.$fontHeadersMontserrat;
      color: vars.$colorSecondary;
      font-size: 16px;
      transition: all 0.2s;
      // color:RGB(65, 131, 196);
      &:hover {
        color: #246fb9;
      }
    }
  }

  .header--nav {
    display: none;
  }
}
