@use "src/styles/vars";
@import "src/fonts/fonts.scss";

#header--nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 11px;

  //  font-family: vars.$fontHeadersMontserrat;

  h1 {
    // font-family: vars.$fontHeadersTiempos;
    font-family: vars.$fontHeadersMontserrat;
  }
}

.nav--list {
  display: flex;
  padding: 10px;
}

ul {
  display: flex;
  list-style-type: none;
  
  li {
    padding: 10px;
    align-items: center;
    font-size: 18px;

  }
}

.ui.button,
.ui.buttons .button {
  font-size: 15px;
}

