@use "src/styles/vars";

.createGroup--pageContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  // gap: 10px 20px;
  //gap: 3rem;

  h1 {
    font-family: vars.$fontHeadersTiempos;
  }
}

.createGroup--button {
  margin: 20% 0;
  // box-shadow: 0px 8px 20px rgba(119, 119, 119, 0.4);
  // padding: 2% 8% 0% 8%;
  // border-radius: 12px;
}

#CreateGroup--section1 {
  display: flex;
  text-align: left;
  flex-direction: column;
  //gap: 3rem;
  gap: 10px 20px;
  margin: 4rem 15% 6rem 15%;
  box-shadow: 0px 8px 20px rgba(119, 119, 119, 0.4);
  padding: 2% 8% 0% 8%;
  border-radius: 12px;
  font-family: vars.$fontParagraph;

  label {
    display: inline;
    text-align: left;
    font-weight: 500;
  }

  .required {
    margin: 1.5rem 0;

    .end {
      margin-bottom: 0;
    }
  }

  .flex--date {
    display: flex;
    justify-content: space-between;
  }
}

.groupCreated {
  margin-bottom: 5.5rem;
}

.btn--createGroup {
  //   margin-top: 70px;
  //   width: 30%;
  //   align-self: center;
  border-radius: 7px;
  border: solid 1px #d6d6d6;
  // margin: 0rem 15% 4rem 15%;
  margin-bottom: 5.5rem;
  padding: 30px;
  width: 100%;
  //   background-color: vars.$colorPrimary;
  color: vars.$colorBackground;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 1.28rem;
  font-family: vars.$fontHeadersMontserrat;
  background-color: #1678c2;
  box-shadow: 0px 8px 20px rgba(119, 119, 119, 0.4);
  transition: all 0.2s;

  h3 {
    color: white;
  }
  &:hover {
    background-color: #308acf;
  }
}

label,
textarea {
  // font-size: 0.8rem;
  letter-spacing: 0.5px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

label {
  display: block;
  margin-bottom: 10px;
}

#CreateGroup--section2 {
  margin: 1.5rem 0;

  button {
    margin: 1.5rem 0;
  }
}
