@use "src/styles/vars";

.footer--nav {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  
  h1 {font-family: vars.$fontHeadersMontserrat}
}

.footer--title__slogan {
  display: flex;
  animation: myAnim 1s ease 0s 1 normal forwards;
  flex-direction: column;
  text-align: left;
  
  p {
    
  }
}

.footer--list {
  display: flex;
  flex-direction: column;
  text-align: end;
}

@media (max-width: 1000px) {
.footer--title__slogan {

  p {
    display: none;
  }
}
}