@use "src/styles/vars";

.createGroup--pageContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  // gap: 10px 20px;
  //gap: 3rem;

  
  
}

#CreateGroup--section1 
{

    display: flex;
flex-direction: column;
//gap: 3rem;
gap: 10px 20px;
margin: 4rem 15% 0 15%;
box-shadow: 0px 8px 20px rgba(119, 119, 119, 0.4);
  padding: 6% 8%;
  border-radius: 12px 12px 0 0;
  

}

.btn--createGroup {
//   margin-top: 70px;
//   width: 30%;
//   align-self: center;
  border-radius: 0 0 12px 12px;
  border: solid  1px #d6d6d6;
  margin: 0rem 15% 4rem 15%;
  margin-bottom: 80px;
  padding: 30px;
  //   background-color: vars.$colorPrimary;
  color: vars.$colorBackground;
  background-color: #1678C2;
  box-shadow: 0px 8px 20px rgba(119, 119, 119, 0.4);
  transition: all 0.2s;
  
   h3 {
    color: white;
  }
    &:hover {
    background-color: #308acf;
    
  }
}


label,
textarea {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}



#CreateGroup--section2 {
  
  margin-top: 1.5rem;
}

















