@use "src/styles/vars";

.signup--container {
  display: flex;
  // margin-top: 150px;
  margin: 85px 0;
}
.signup--left {
  height: 600px;
  width: 900px;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1536431311719-398b6704d4cc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80");
  border-radius: 13px 0px 0px 13px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.signup--right {
  display: flex;
  flex-direction: column;

  overflow: scroll;
  padding: 3.25rem 0;
  height: 600px;
  width: 700px;
  align-items: center;
  border-radius: 0px 13px 13px 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.left--content {
  padding: 25px;

  p {
    color: white;
    font-family: vars.$fontHeadersMontserrat;
  }
  h1 {
    color: white;
    font-family: vars.$fontHeadersMontserrat;
  }
}
.signup--left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left--content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left--side h1 {
  padding: 50px;
  color: white;
}
.welcome--content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title--right {
  align-items: center;

  h1 {
    font-family: vars.$fontHeadersTiempos;
    margin-bottom: 2rem;
  }
}

.fields--container {
  display: flex;
  justify-content: space-between;
  overflow: visible;
  text-align: center;
  align-self: center;
}
.btn--right {
  margin-top: 23px;
  transition: transform 0.2s;
  border-radius: 8px;
  border: none;
  color: gray;
  padding: 13px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: RGB(222, 222, 223);

  &:hover {
    // transform: scale(0.9);
    // background-color: rgb(216, 216, 216);
  }
}

.window.minimize.icon {
  color: white;
  font-size: 20px;
  margin-bottom: 2rem;
}

.ui.selection.dropdown {
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  outline: 0;
  transform: rotateZ(0);
  min-width: 13em;
  min-height: 2.71428571em;
  background: #fff;
  display: inline-block;
  padding: 0.78571429em 2.1em 0.78571429em 1em;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  transition: box-shadow 0.1s ease, width 0.1s ease;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.required.field {
  margin: 8px;
}
.ui.textarea {
  width: 100%;
}
.deja--membre {
  text-align: right;
  font-size: 13px;

  &:hover {
    cursor: pointer;
    color: vars.$colorPrimaryHover;
  }
}

@media screen and (max-width: 1600px) {
  /* Ajouter le flex-wrap ici */
  .container {
    flex-wrap: wrap;
  }
}
